.dialog#dialog
    .dialog__delete#delete-dialog
        .dialog-group
            p.message ¿Estás seguro que deseas eliminar este producto?
        .dialog-group
            .dialog-options
                span.dialog-link.dialog-link--cancel#dialog-link--cancel Cancelar
                a.dialog-link.dialog-link--delete#dialog-link--delete Eliminar
    .dialog__edit#edit-dialog