extends layout

block content
    .container
        header.header
            .header__icon-menu
                .icon-bars#icon-menu
            .header__search#header__search
                input(type="text" placeholder="Buscar").search
            .header__avatar.close-menu
                .avatar.close-menu
        nav.nav#nav
            .header__nav
            ul.menu
                li.menu__item.icon-home-house-streamline Inicio
                li.menu__item.icon-caddie-shop-shopping-streamline Ventas
                li.menu__item.icon-caddie-shopping-streamline Compras
                li.menu__item.icon-list-bullet Productos
        main.content-main#content-main
            block item






