extends layout

block content
    .container
        header.header
            .header__icon-menu
                .icon-bars#icon-menu
            .header__search#header__search
                input(type="text" placeholder="Buscar").search
            .header__avatar.close-menu
                .avatar.close-menu
        nav.nav#nav
            .header__nav
                .nav__avatar
                span.nav__username Lauren Montenegro
            ul.menu
                li.menu__item.icon-home-house-streamline
                    a.link-menu(href='/') Inicio
                li.menu__item.icon-caddie-shop-shopping-streamline
                    a.link-menu(href='/') Ventas
                li.menu__item.icon-caddie-shopping-streamline
                    a.link-menu(href='/purchase') Compras
                li.menu__item.icon-list-bullet
                    a.link-menu(href='/product') Productos
        main.content-main#content-main
            block main







