extends layout

block content
    .container
        header.header
            .header__icon-menu
                .icon-bars#icon-menu
            .header__search#header__search
                input(type="text" placeholder="Buscar").search
            .header__avatar.close-menu
                .avatar.close-menu
        nav.nav#nav
            .header__nav
                .nav__avatar
                span.nav__username Lauren Montenegro
            ul.menu
                li.menu__item.icon-home-house-streamline Inicio
                li.menu__item.icon-caddie-shop-shopping-streamline Ventas
                li.menu__item.icon-caddie-shopping-streamline Compras
                li.menu__item.icon-list-bullet Productos
        main.content-main#content-main
            block main
            if title.toString() == 'Productos'
                .dialog#dialog
                    .dialog__delete#delete-dialog
                        .dialog-group
                            p.message ¿Estás seguro que deseas eliminar este producto?
                        .dialog-group
                            .dialog-options
                                span.dialog-link.dialog-link--cancel#dialog-link--cancel Cancelar
                                a.dialog-link.dialog-link--delete#dialog-link--delete(href='/product/delete') Eliminar
                    .dialog__edit#edit-dialog






