doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/layout.css')
        if title.toString() === 'Productos'
            link(rel='stylesheet', href='/stylesheets/product.css')
            link(rel='stylesheet', href='/stylesheets/add-product.css')
        if title.toString() === 'Agregar Productos'
            link(rel='stylesheet', href='/stylesheets/add-product.css')
        if title.toString() === 'Compras'
            link(rel='stylesheet', href='/stylesheets/content-main.css')
            link(rel='stylesheet', href='/stylesheets/purchase.css')
        link(href='https://file.myfontastic.com/6dCtYsU2yryXWWdmzhnLWZ/icons.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        block content
        script(src='/javascripts/index.js')