extends index


block item
    .product-options
        .order-section
            //Make this with a display menu transition
            select.categorie-options
                option(value = 1) Categoría
                option(value = 2) Categoría
                option(value = 3) Categoría
        .actions-section
            .button.button--add-product  Agregar
            .button.button--select-all Seleccionar todo
            .button.button--delete-product Eliminar
    .product
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card
        .product__card



