extends index


block main
    .product-options
        .order-section
            //Make this with a display menu transition
            select.categorie-options
                option(value = 1) Categoría
                option(value = 2) Categoría
                option(value = 3) Categoría
        .actions-section
            .button.button--add-product#add-product
                a.button__link(href='/product/add') Agregar
            .button.button--select-all#select-all Seleccionar todo
            .button.button--delete-product#delete-product Eliminar
    .product
        .product-container
            each product in data
                .product-card
                    .product-card-header
                        .product-card__options
                            a.icon-edit(href='/product/edit/' + product.id)
                            a.icon-trash(href='/product/delete/' + product.id)
                        .product-card__border
                            .product-card__image
                    .product-card-body
                        .product-card__name #{product.name}
                    .product-card-footer
                        .product-card__units #{product.units} unidades
                        .product-card__price C$#{product.price}
    include includes/delete-dialog
    include includes/edit-dialog

