extends index

block main
    .main-header
        .order-section
            span.icon-list.order-purchase.list-order-clicked
            span.icon-grid-list.order-purchase
        .actions-section
            .button.button--add-purchase#add-purchase Agregar
    .main-body
        each purchase in data
            .purchase-row
                .purchase.product-name
                    span.text #{purchase.productName} Nombre
                .purchase.product-price
                    span.text C$ #{purchase.price}
                .purchase.product-units
                    span.text #{purchase.price} Unidades
                .purchase.product-provider
                    span.text #{purchase.provider}
                .purchase.product-options
                    a.icon-edit(href='/purchase/edit/' + purchase.id)
                    a.icon-trash(href='/purchase/delete/' + purchase.id)
    include includes/delete-dialog
    include includes/edit-purchase-dialog
    include includes/add-purchase-dialog



