extends index

block main
    .main-header
        .order-section
            span.icon-list.order-purchase.list-order-clicked
            span.icon-grid-list.order-purchase
        .actions-section
    .main-body
        each purchase in data
            .purchase-row
                .purchase.product-name
                    span.text #{purchase.productName} Nombre
                .purchase.product-price
                    span.text C$ #{purchase.price}
                .purchase.product-units
                    span.text #{purchase.price} Unidades
                .purchase.product-provider
                    span.text #{purchase.provider}
                .purchase.product-options
                    span.icon-edit
                    span.icon-trash



