.main-header {
    width: 100%;
    height: 10vh;
    display: flex;
}

.order-section, .actions-section {
    display: flex;
    align-items: center;
}

.order-section {
    width: 20%;
    height: 100%;
    justify-content: flex-start;
}

.actions-section {
    width: 80%;
    height: 100%;
    justify-content: flex-end;
}

.main-body {
    width: 100%;
}


/* Button styles */
.button {
    border-radius: .3em;
    margin: .5em;
    padding: .4em .8em;
    cursor: pointer;
    outline: none;
    font-size: .85em;
}

.button__link {
    color: #ffffff;
    text-decoration: none;
}

