/* Product options styles */
.product-options {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-section, .actions-section {
    display: flex;
    align-items: center;
}

.order-section {
    width: 30%;
    justify-content: flex-start;
    margin: .4em 1em;;
}

.actions-section {
    width: 70%;
    margin-right: 1em;
    justify-content: flex-end;
}

.categorie-options {
    border: none;
    color: #03A9F4;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(200, 200, 200, .5);
}

.categorie-options, .button {
    border-radius: .3em;
    margin: .5em;
    padding: .4em .8em;
    cursor: pointer;
    outline: none;
    font-size: .85em;
}

.button {
    box-shadow: 1px 1px 5px rgba(3, 169, 244, .5);
}

.button:hover {
    box-shadow: 1px 1px 2px rgba(3, 169, 244, .5);
}

.button:active {
    padding: .37em .77em;;
}

.button--categories {
    background: #ffffff;
    color: #03A9F4;
    padding: .4em 2em;
}

.button--add-product,
.button--select-all,
.button--delete-product {
    color: #fff;
}

.button--add-product,
.button--select-all {
    background: #03A9F4;
}

.button__link {
    color: #ffffff;
    text-decoration: none;
}


.button--delete-product {
    background: red;
    opacity: .7;
    box-shadow: 1px 1px 7px rgba(255, 0, 0, .5);
}

.button--delete-product:hover {
    box-shadow: 1px 1px 2px rgba(255, 0, 0, .5);
}

/* Product Section */

/* This section work with flexbox */
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card__options {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    padding: 0 .4em;
}

.icon-edit, .icon-trash {
    color: rgba(3, 169, 244, .7);
    margin-left: .3em;
    cursor: pointer;
}

.product-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 97%;
}

.product-card {
    width: 30%;
    height: 15em;
    background: #fff;
    box-shadow: 1px 1px 7px #bbbbbb;
    margin: .4em 1em;
    border-radius: 3px;

    /* To create a flex context*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card-header {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-card__border {
    width: 6em;
    height: 6em;
    background: linear-gradient(#03A9F4, #00E676);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card__image {
    width: 5.7em;
    height: 5.7em;
    border-radius: 50%;
    background: url("https://cdn.shopify.com/s/files/1/1244/2858/products/frijoles_rojos_de_seda1.jpg?v=1498109755");
    background-size: cover;
    background-position: center;
}

.product-card-body {
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555555;
    border-bottom: 1px solid rgba(3, 169, 244, .2);
}

.product-card-footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 .5em;
    margin-top: .5em;
}

.product-card__units,
.product-card__price {
    font-size: .9em;
    border-radius: .2em;
    padding: .2em .5em;
}

.product-card__units {
    color: orangered;
    background: rgba(255, 20, 0, .1);
}

.product-card__price {
    color: #03A9F4;
    background: rgba(3, 169, 244, .1);
}

@media (max-width: 540px) {

    .product-container {
        justify-content: center;
    }

    .product-card {
        width: 100%;
    }

    .button--select-all {
        display: none;
    }
}

@media (min-width: 540px) and (max-width: 840px) {
    .product-card {
        width: 43%;
    }

    .product-container {
        justify-content: space-between;
    }
}

@media (min-width: 840px) and (max-width: 1280px) {
    .product-container {
        justify-content: space-between;
    }

    .product-card {
        width: 42%;
    }
}


















