body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #ededed;
}

a {
    color: #00B7FF;
}

.container {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: 10vh 1fr;
}
